/* -------- global -------- */

:root {
  --pad-sides: 50px;
  /* -- colours -- */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: white;
}

* {box-sizing: border-box;}

body {
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: url("images/bg-desktop.svg") no-repeat fixed, var(--violet);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding-top: 30px;
}

/* p {padding: 10px 0px;} */

/* -------- header -------- */

header {
  padding: var(--pad-sides);
}

header > img {
  width: 250px;
}

/* --------- main --------- */

.flex-contain {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px var(--pad-sides);
}

.mockups {flex: 1 1 50%;}
.mockups > img {width: 100%;}

.text-content {
  flex: 1 1 50%;
  font-size: 1.2rem;
  padding-left: 50px;
}

button.register {
  margin: 15px 0px;
  color:var(--violet);
  font-size: 1rem;
  padding: 15px 60px;
  background-color: var(--white);
  border-radius: 24px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}

button.register:hover{
  color: var(--white);
  background-color: var(--soft-magenta);
  cursor: pointer;
}

/* -------- footer -------- */

footer {
  display: flex;
  flex-flow: row nowrap;
  padding: 0px 50px;
}

.attribution { 
  flex: 1 1 60%;
  font-size: 11px; 
  padding-top: 20px;
}

.attribution a {color: var(--soft-magenta);}

.icons svg {
  width: 20px;
  height: 20px;
}

.icons svg path {
  fill: var(--white);
}

.icons a {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 10px;
  line-height:0;
  border: var(--white) 1px solid;
  border-radius: 40px;
}

.icons a:hover {
  filter: invert(40%) 
          sepia(50%) 
          saturate(1000%) 
          hue-rotate(250deg) 
          brightness(100%);
}

/* --------- media queries --------- */
@media screen and (max-width: 600px) {
  :root {
    --pad-sides:30px;
  }
  body {
    background: url("images/bg-mobile.svg") top / contain no-repeat fixed, var(--violet);
  }
  .flex-contain {
    flex-flow: column;
    padding: 10px 30px;
  }
  header > img {
    width: 45%;
  }
  h1 {
    font-size: 1.8rem;
  }
  .text-content {
    flex-basis: 100%;
    font-size: 1rem;
    text-align:center;
    padding: 0px;
  }
  .mockups {
    flex-basis: 100%;
    padding-bottom: 30px;
  }
  footer {
    flex-flow: column;
  }
  footer > p {
    text-align: center;
  }
  .attribution{order: 2;}
  .icons a {
    display: inline-block;
    float:none;
  }
}